body {
  background-color: #DFE5F0;
}
header {
  margin-bottom: 50px;
}
header h1{
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 60px;
  margin-bottom: 0px;
}
.italic {
  font-style: italic;
}
.bluetext {
  color: #2C4F99;
}
div#body_wrapper { /* defaults */
  font-family: 'PT Sans', sans-serif;
  width: 85%;
  margin-left: 50px;
}
div#container {
   max-width: 100%;
}
form#inputData{
   max-width:100%;
}
div#pamseq {
    display: inline;
}
table#inputTable {
   width:100%;
   border-color: black;
   border-collapse: collapse;
}
#inputTable td {
   padding: 2px;
}
#inputTable th {
    color:white;
	background-color: #2C4F99;
}
.button {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #2C4F99;
  border: 3px solid #2C4F99;
}
.button:hover {
  background-color: #191975;
  border: 3px solid #2C4F99;
}
#submitButton {
    font-size: 1em;
}
footer {
  font-size: 12px;
}
p#subheader {
  margin-top: 0px;
}